@tailwind base;
@tailwind components;
@tailwind utilities;

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
    .btn1{
        margin-top: 20px;;
        display: inline-flex;
        padding: 12px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #FFF;
        color: black;
        border-radius: 8px;
        
    }